* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body {
    background-image: url('./background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 40px
}

label {
    color: azure;
    padding: 100px;
    font-weight: bold;
}

label[for="email"] {
    padding-right: 145px;
}

label[for="passwordRepeat"] {
    padding-right: 90px;
}

h1 {
    font-size: 50px;
    color: azure;
}
input{
    margin-right: -100px;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
    margin-left: 145px;
}

button {
    height: 60px;
    width: 120px;
    border-radius: 50px;
    border: none;
    background: azure;
    color: blue;
}

button:hover {
    background: blueviolet;
    color: azure;
}

@media screen and (max-width: 1200px) {
    input {
        margin-left: 100px;
    }

    .tick {
        margin-left: 1px;
    }

    input[type="checkbox"] {
      margin-left: 100px;
    }
}
