body {
  font-family: sans-serif;
  font-size: 20px;
  height: 100%;
  background-image: url("./background.webp");
  background-size: cover;
  background-position: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.button {
  height: 75px;
  width: 150%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 1pc;
  background-color: lavender;
  color: rgb(4, 4, 236);
}

.heading {
  font-size: 60px;
  text-align: center;
  margin-left: 140px;
  color: aliceblue;
}

@media only screen and (max-width:700px) {
 .heading{
  font-size: 60px;
  margin-left: 0px;
  text-align: center;
 }
 .button{
  height: 50px;
  width:100%
 }
}
